<%= form_for(@development_skill) do |f| %>
  <% if @development_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@development_skill.errors.count, "error") %> prohibited this development_skill from being saved:</h2>

      <ul>
      <% @development_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill_name %><br>
    <%= f.text_field :skill_name %>
  </div>
  <div class="field">
    <%= f.label :desired_skill_level %><br>
    <%= f.text_field :desired_skill_level %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.label :percent_complete %><br>
    <%= f.text_field :percent_complete %>
  </div>
  <div class="field">
    <%= f.label :current_skill_level %><br>
    <%= f.text_field :current_skill_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
