<p id="notice"><%= notice %></p>

<p>
  <strong>Skill name:</strong>
  <%= @development_skill.skill_name %>
</p>

<p>
  <strong>Desired skill level:</strong>
  <%= @development_skill.desired_skill_level %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @development_skill.notes %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @development_skill.completed %>
</p>

<p>
  <strong>Percent complete:</strong>
  <%= @development_skill.percent_complete %>
</p>

<p>
  <strong>Current skill level:</strong>
  <%= @development_skill.current_skill_level %>
</p>

<%= link_to 'Edit', edit_development_skill_path(@development_skill) %> |
<%= link_to 'Back', development_skills_path %>
