<p id="notice"><%= notice %></p>

<p>
  <strong>Skill name:</strong>
  <%= Skill.find(@development_skill.skill_name).skill_name %>
</p>

<p>
  <strong>Desired skill level:</strong>
  <%= SkillLevel.find(@development_skill.desired_skill_level).level %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @development_skill.notes %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @development_skill.completed %>
</p>

<p>
  <strong>Percent complete:</strong>
  <%= @development_skill.percent_complete %>
</p>

<p>
  <strong>Current skill level:</strong>
  <%= SkillLevel.find(@development_skill.current_skill_level).level %>
</p>

<p>
  <strong>Development plan:</strong>
  <%= DevelopmentPlan.find(@development_skill.development_plan_id).plan_name %>
</p>

<%= link_to 'Edit', edit_development_skill_path(@development_skill, :development_plan_id => @development_skill.development_plan_id) %> |
<%= link_to("New Development Task", new_development_task_path(:development_skill_id => @development_skill.id)) %><br/>
<p>
  <strong>Development Tasks:</strong>
  <%= DevelopmentTask.all %>
</p>
<%= link_to 'Back to skills', development_skills_path %> |
<%= link_to 'Back to development plan', development_plan_path(@development_skill.development_plan_id) %>
