<h1>User#Dashboard</h1>
<p>Find me in app/views/user/Dashboard.html.erb</p>

<% if current_user.development_plans.any? %>
	<% current_user.development_plans.each do |plan| %>
		Plan Name: <%= link_to("#{plan.plan_name}", edit_development_plan_path(plan.id)) %> <br/>
		Plan Description: <%= plan.description %> <br/>
		<%= link_to "delete?", plan, method: :delete, data: { confirm: "You sure?"} %><br/><br/>
	<% end %>
	<br/><%= link_to("Create a new development plan", development_plan_new_path) %>
<% else %>
	<%= current_user.username %> does not currently have any development plans!
	<%= link_to("Create a new development plan", development_plan_new_path) %>
<% end %>
