<h1>Listing skills</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
  </tr>

    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to("#{skill.skill_name}", skill_path(skill.id)) %></td>
        <td><%= SkillCategory.find(skill.category).category_name %></td>
        <td><%= skill.description %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Skill', new_skill_path %>
