<h1>Show</h1>

Skill Name: <%=  @skill.skill_name %><br/>
Category: <%= SkillCategory.find(@skill.category).category_name %><br/>
Description: <%= @skill.description %><br/>
<%= link_to("edit", edit_skill_path(@skill.id)) %> <br/>
<%= link_to "delete?", @skill, method: :delete, data: { confirm: "Are you sure you want to delete the task #{@skill.skill_name}?"} %><br/><br/>

<br/><br/>
<%= link_to("Back to Dashboard", :Dashboard) %>