    <%= form_for @development_plan do |f| %>

	  <% if @development_plan.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@development_plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

	      <ul>
	      <% @development_plan.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

      <%= f.label :plan_name %>:
      <%= f.text_field :plan_name, class: 'form-control' %><br/>

      <%= f.label :description %>:
      <%= f.text_area :description, class: 'form-control' %>

	  <div class="actions">
	    <%= f.submit %>
	  </div>

    <% end %>