<h1>New Development Plan</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	
    <%= form_for :development_plan, url: development_plan_create_path do |f| %>

  <% if @development_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@development_plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @development_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.label :plan_name %>:
      <%= f.text_field :plan_name, class: 'form-control' %><br/>

      <%= f.label :description %>:
      <%= f.text_area :description, class: 'form-control' %><br/><br/>

      <%= f.submit "Create new development plan" %>
    <% end %>
  </div>
</div>
<br/><br/>
<%= link_to("Back to Dashboard", :Dashboard) %>