<%= form_for(@skill_level) do |f| %>
  <% if @skill_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill_level.errors.count, "error") %> prohibited this skill_level from being saved:</h2>

      <ul>
      <% @skill_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :level %>
    <%= f.text_field :level, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
